<!-- Hero -->
<div class="bg-primary-dark position-relative">
  <div class="container content-space-t-3 content-space-b-1">
    <div class="row justify-content-center align-items-md-center mb-7">
      <div class="col-md-6 mb-7 mb-md-0">
        <img class="img-fluid" src="/img/logo3.png" alt="Image Description">          
      </div>
      <!-- End Col -->

      <div class="col-sm-10 col-md-6">

        <!-- Heading -->
        <div class="pe-lg-3 mb-7">
          <h1 class="display-3 text-white mb-3 mb-md-5" style="font-size: 2rem;">You're enjoing your life, managing the weekend that started about two hours ago. You check your phone and gbam, just like that, it's Sunday 11:30pm and tomorrow is Monday<!-- <span class="text-warning"></span> --></h1>
          <p class="lead text-white-70" style="font-size: 0.8rem;">Like Chris, Everybody hates <span class="text-warning">Mondays</span>. The mission of this blog is to ease that hate with posts about random things🙏🏽. By 6am WAT every Monday, there'll be a new post on the blog. You go enjoy am. <br> 
            Anyday you don't enjoy it, DM me I'll send you money. But if you enjoy it, DM me i will send you more money.</p>
        </div>
        <!-- End Heading -->

        <div class="d-grid d-sm-flex gap-3">
          <a class="btn btn-primary me-2" href="../page-login.html">Start now <i class="bi-chevron-right small ms-1"></i></a>
          <a class="btn btn-ghost-light" href="https://www.youtube.com/watch?v=0qisGSwZym4" role="button" data-fslightbox="youtube-video">
            Watch a demo <i class="bi-play-circle-fill ms-1"></i>
          </a>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="row">
      <div class="card card-lg">
        <div class="card-body">
          <div class="row align-items-sm-center mb-5">
            <div class="col-sm-auto order-sm-2 mb-3 mb-sm-0">
              <img class="avatar avatar-md avatar-2x2" src="/img/icons/icons8-notification.gif" alt="Image Description">
            </div>
            <!-- End Col -->

            <div class="col-sm">
              <h5 class="card-title">Get notifieddd</h5>
              <p class="card-text">Just one or two details for the notifying process, do you get?</p>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <form>
            <!-- Form -->
            <div class="mb-4">
              <label class="form-label" for="registerEmail">Your name</label>
              <input type="text" class="form-control form-control-lg" name="name" id="registerName" placeholder="Enter your name please" aria-label="Type your name" required data-msg="Please enter your name.">
            </div>
            <!-- End Form -->

            <!-- Form -->
            <div class="mb-4">
              <label class="form-label" for="registerEmail">Your IG handle</label>
              <input type="text" class="form-control form-control-lg" name="ig" id="igHandle" placeholder="e.g: ciromachukwumaadekunle" aria-label="Type your IG handle please" data-msg="Please enter your Instagraam handle.">
            </div>
            <!-- End Form -->

            <!-- Form -->
            <div class="mb-4">
              <label class="form-label" for="registerEmail">Your email</label>
              <input type="email" class="form-control form-control-lg" name="email" id="registerEmail" placeholder="example@site.com" aria-label="example@site.com" required data-msg="Please enter a valid email address.">
            </div>
            <!-- End Form -->

            

            <div class="d-grid text-center">
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              <!-- <span class="form-text">Need help? <a class="link" href="page-help-center.html">Visit our Help Center <i class="bi-chevron-right small ms-1"></i></a></span> -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>

  <!-- Lines -->
  <!-- <div class="lines lines-light">
    <div class="lines-container">
      <div class="lines-item"></div>
      <div class="lines-item"></div>
      <div class="lines-item"></div>
      <div class="lines-item"></div>
      <div class="lines-item"></div>
    </div>
  </div> -->
  <!-- End Lines -->
</div>
<!-- End Hero -->