<div class="px-4 py-5 my-5 text-center">
    <img src="/img/logo3.png" alt="" class="d-block mx-auto mb-4 img-fluid" width="566" height="208" loading="lazy">
    <h1 class="display-5 fw-bold">You're enjoing your life, managing the weekend that started about two hours ago. You check your phone and gbam, just like that, it's Sunday 11:30pm and tomorrow is Monday.<br>
        Like Chris, Everybody hates <span class="text-warning">Mondays</span></h1>
        <hr>
        <hr>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" style="font-size: 2.6rem;">The mission of this blog is to ease that hate with posts about random things🙏🏽. By 6am WAT every Monday, there'll be a new post on the blog. You go enjoy am. <br>
            Anyday you don't enjoy it, DM me I'll send you money. But if you enjoy it, DM me I'll send you more money.</p>
    </div>
    </div>
    <div class="row">
        <div class="card card-lg">
          <div class="card-body">
            <div class="row align-items-sm-center mb-5">
              <div class="col-sm-auto order-sm-2 mb-3 mb-sm-0">
                <img class="avatar avatar-md avatar-2x2" src="/img/icons/icons8-notification.gif" alt="Image Description">
              </div>
              <!-- End Col -->
  
              <div class="col-sm">
                <h5 class="card-title">Get notifieddd</h5>
                <p class="card-text">Just one or two details for the notifying process, do you get? <br>[Please check your spam mail after about ten minutes if you don't get the mail]</p>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
  
            <form action="/submit-blog" method="post">
                
              <!-- Form -->
              <div class="mb-4">
                <label class="form-label" for="registerEmail">Your name</label>
                <input type="text" class="form-control form-control-lg" name="name" id="registerName" placeholder="Enter your name please" aria-label="Type your name" required data-msg="Please enter your name.">
              </div>
              <!-- End Form -->
  
              <!-- Form -->
              <div class="mb-4">
                <label class="form-label" for="registerEmail">Your IG handle</label>
                <input type="text" class="form-control form-control-lg" name="ig" id="igHandle" placeholder="e.g: ciromachukwumaadekunle" aria-label="Type your IG handle please" data-msg="Please enter your Instagraam handle.">
              </div>
              <!-- End Form -->
  
              <!-- Form -->
              <div class="mb-4">
                <label class="form-label" for="registerEmail">Your email</label>
                <input type="email" class="form-control form-control-lg" name="email" id="registerEmail" placeholder="example@site.com" aria-label="example@site.com" required data-msg="Please enter a valid email address.">
              </div>
              <!-- End Form -->
  
              
  
              <div class="d-grid text-center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                <!-- <span class="form-text">Need help? <a class="link" href="page-help-center.html">Visit our Help Center <i class="bi-chevron-right small ms-1"></i></a></span> -->
              </div>
            </form>
          </div>
        </div>
      </div>

<!--Submit - Start-->

<section class="px-4 py-5 my-5 text-center">
    <img src="/img/topecatalog.jpg" alt="" class="d-block mx-auto mb-4 img-fluid" width="566" height="208" loading="lazy">
    <h1 class="display-5 fw-bold">Publish your entertainment for FREE today</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Publish your style in front of thousands of people for free.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-blog" class="btn btn-primary btn-dark btn-lg">Submit blog</a>
        </div>
    </div>

</section>





<!--Submit - End-->